<div class='container mt-5'>
  {{#each @list as |item|}}
    <div class='mt-2'>
      <span>{{item.itemName}} {{item.itemId}}</span>
      <button {{on 'click' (fn this.delete item.itemId)}}>delete</button>
    </div>
    <br />
  {{/each}}
</div>