{{page-title "Index"}}
<div class="container">
    <h1>Home</h1>
</div>
<main class="container">
    <LinkTo class="row" @route="item" @model="1">Product 1</LinkTo>
    <LinkTo class="row" @route="item" @model="2">Product 2</LinkTo>
</main>
{{outlet}}