{{page-title 'Index'}}
<div class='container'>
  <h1>Home</h1>
</div>

<div class='container'>
  <ItemsList @routeName='item' />
  <LinkTo @route='index.add-new'>
    <button type='button' class='btn btn-primary'>Add New Item</button>
  </LinkTo>
</div>

{{!-- <div class='container mt-5'>
  {{#each @model as |item|}}
    <div class='mt-2'>
      <span>{{item.itemName}}</span>
      <button type="button">delete</button>
    </div>
    <br />
  {{/each}}
</div> --}}

<div class="container">
  <ItemModelList @itemarray={{@model}}/>
</div>

<EditItem/>
{{outlet}}