{{page-title 'Index'}}
<div class='container'>
  <h1>Home</h1>
</div>

<div class='container'>
  <ItemsList @routeName='item' />
  <LinkTo @route="index.add-new">
    <button type="button" class="btn btn-primary">Add New Item</button>
  </LinkTo>
</div>

<div class='container mt-5'>

  {{!-- <InputItem/> --}}

</div>

{{outlet}}